html {
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #1BB268;
  font-family: verdana;
}

input {
  width: 600px;
  height: 30px;
  font-size: 20px;
}

input#check_prime {
  width: 800px;
  height: 60px;
  font-size: 30px;
}

textarea {
  width: 400px;
  height: 100px;
}
h1 { 
  color: royalblue;
}
h2 {
  margin-left: 10px;
  color: pink;
}
h3 {
  margin-left: 10px;
  color: lightyellow;
}
h4 {
  margin-left: 10px;
}
h5 {
  margin-left: 10px;
}
h6 {
  margin-left: 10px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
div {
  border: dashed 1px #5AFFAE;
}

p {  
  margin-left: 25px;
}

#navbar ul li{
  display: inline;
  margin-right: 15px;
  font-size: 30px;
  border: dashed 1px green;
}
.center {
  text-align: center;
  margin: auto;
}

.title {
  font-size: 20px;
}

button.back {
  font-size: 20px;
  width: 100px;
  height: 50px;
  background-color: purple;
  margin: 20px;
}

a {
  text-decoration: none;
  color: skyblue;
}


a:hover {
  color: orange;
}