#chess_board {  
}

.block {
  min-width:  60px;
  min-height: 60px;
  max-width:  60px;
  max-height: 60px;
}

.yellow {
  background-color: lightyellow;
}

.orange {
  background-color: orange;
}

.label {
  background-color: white;
  color: black;
  font-weight: bold;
}
.blank {
  background-color: transparent;
}

.p1 {
  color: skyblue;
  font-weight: bold;
}

.p2 {
  color: deeppink;
  font-weight: bold;
}

#selected{
  color: black;
  background-color: gray;
}

.p1:hover, .p2:hover{
  color: black;
  background-color: gray;
}